* {
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #7F8462;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: 3px solid #C9B8A7;
  text-align: right !important;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 40px;
  margin-left: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: repeat;
}

img {
  border-radius: 15px
}

.textoHistoria {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: justify;
  margin: 40px auto;
  background-color: #7F8462;
  opacity: 1;
  font-size: 15px;
  border-radius: 20px;
  border: 3px solid #C9B8A7;
  width: 1000px;
  height: 410px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmografia,
.personajes {
  max-width: 1425px;
  max-height: 455px;
}

.filtrosFilmografia,
.filtroPersonajes {
  max-width: 1425px;
  max-height: 50px;
}

.filtroDirector,
.filtroProductor,
.filtroOrden,
.filtroEspecie {
  font-family: Arial, Helvetica, sans-serif;
  width: 130px;
  height: 40px;
  padding: 10px;
  border: 3px solid #4C362E;
  border-radius: 8px;
  background-color: #C9B8A7;
  font-size: 12px;
  font-weight: bold;
  color: #4C362E;
  position: absolute;
  margin-left: -65px;
}

.filtroDirector,
.filtroEspecie {
  left: 50%;
}

.filtroProductor {
  left: 60%;
}

.filtroOrden {
  left: 40%;
}

.imagenesFilmografia {
  width: 1200px;
  margin: 90px auto 0;
  text-align: center;
}

#grillaPersonajes {
  width: 1400px;
  margin: 90px auto 0;
  text-align: center;
}

#grillaPersonajes.filtrado {
  margin: 0px auto 0;
}

.peliculas {
  /* Contenedor imágen, título, año y descripción */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: justify;
  background-color: #7F8462;
  opacity: 1;
  font-size: 15px;
  border-radius: 20px;
  border: 3px solid #C9B8A7;
  width: 500px;
  height: 200px;
  padding: 20px;
  margin: 15px;
  display: inline-flex;
  vertical-align: top;
  position: relative;
}

.posterPelicula {
  max-width: 200px;
  max-height: 200px;
  float: left;
  margin-right: 20px;
}

.personaje {
  /* Contenedor imágen, género, edad y especie */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: justify;
  background-color: #7F8462;
  opacity: 1;
  font-size: 14px;
  border-radius: 20px;
  border: 3px solid #C9B8A7;
  width: 150px;
  height: auto;
  padding: 20px;
  margin: 15px;
  display: inline-flex;
  vertical-align: top;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.posterPersonaje {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.descripcionPelicula,
.datosPersonaje {
  /* Descripción */
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: #ffffff;
  text-align: justify;
  margin-top: 15px;
  max-width: 350px;
  max-height: 100px;
}

.calculoEspecies {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  margin-top: 90px;
  max-width: auto;
  max-height: auto;
}

/* BULLET */
ul {
  list-style: none;
}

/* BOTONES SELECCION SECCIONES */
button {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  background-color: #7F8462;
  color: #ffffff;
  padding: 10px 20px 10px;
  font-size: 16px;
  border: 3px solid #C9B8A7;
  text-align: right !important;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  margin-left: 0;
  clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
}

button:hover {
  background-color: rgb(76, 54, 46);
}

button:first-of-type {
  margin-top: 305px;
}

/* BOTONES VOLVER */
#botonVolver,
#botonVolver2,
#botonVolver3 {
  text-align: center !important;
  font-size: 14px;
  width: 100px;
  height: 30px;
  justify-content: flex-start;
  margin: 10px;
  margin-right: 0;
  float: right;
  clip-path: polygon(100% 0, 5% 0, 0 50%, 5% 100%, 100% 100%);
}

#botonVolver:hover,
#botonVolver2:hover,
#botonVolver3:hover {
  background-color: #4C362E;
}

/* MOSTRAR-OCULTAR SECCIONES */
#header {
  display: auto;
}

#historia {
  display: none;
}

#filmografia {
  display: none;
}

#personajes {
  display: none;
}

/* RESPONSIVE TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    left: 58%;
    font-size: 40px;
  }

  body {
    background-image: url(images/background\ -\ tablet\ \(768x1024\).png);
  }

  .textoHistoria {
    width: 550px;
    height: 700px;
    padding: 30px;
  }

  .filmografia,
  .personajes {
    max-width: 768px;
  }

  .filtrosFilmografia,
  .filtroPersonajes {
    max-width: 768px;
  }

  .filtroProductor {
    left: 70%;
  }

  .filtroOrden {
    left: 30%;
  }

  .imagenesFilmografia {
    width: 768px;
  }

  #grillaPersonajes {
    width: 768px;
  }

  .personaje {
    /* Contenedor imágen, género, edad y especie */
    font-size: 13px;
    width: 170px;
  }

  .descripcionPelicula,
  .datosPersonaje {
    max-width: 500px;
    max-height: 200px;
  }

  /* BOTONES SELECCION SECCIONES */
  button:first-of-type {
    margin-top: 450px;
  }
}

/* RESPONSIVE SMARTPHONE */
@media screen and (min-width: 375px) and (max-width: 667px) {
  h1 {
    top: 40%;
    font-size: 25px;
  }

  h2 {
    font-size: 12px;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body {
    background-image: url(images/background\ -\ smartphone\ \(375x667\).png);
  }

  .textoHistoria {
    margin: 15px auto;
    font-size: 10px;
    width: 320px;
    height: 490px;
    padding: 15px;
  }

  .filmografia,
  .personajes {
    max-width: 375px;
  }

  .filtrosFilmografia,
  .filtroPersonajes {
    max-width: 375px;
  }

  .filtroDirector,
  .filtroProductor,
  .filtroOrden,
  .filtroEspecie {
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 8px;
    margin-left: -50px;
    margin-top: 10px;
  }

  .filtroProductor {
    left: 80%;
  }

  .filtroOrden {
    left: 20%;
  }

  .imagenesFilmografia {
    width: 375px;
    margin: 50px auto 0;
  }

  #grillaPersonajes {
    width: 375px;
    margin: 50px auto 0;
  }

  .peliculas {
    /* Contenedor imágen, título, año y descripción */
    font-size: 11px;
    width: 320px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    overflow: auto;
  }

  .posterPelicula {
    max-width: 150px;
    max-height: 150px;
    margin-right: 10px;
  }

  .personaje {
    /* Contenedor imágen, género, edad y especie */
    font-size: 10px;
    width: 130px;
    padding: 10px;
    margin: 10px;
  }

  .nombrePersonaje{
    font-size: 11px;
  }

  .posterPersonaje {
    width: 100px;
    height: 100px;
  }

  .descripcionPelicula,
  .datosPersonaje {
    font-size: 10px;
    margin-top: 10px;
  }

  .calculoEspecies {
    font-size: 10px;
    margin-top: 55px;
  }

  /* BOTONES SELECCION SECCIONES */
  button {
    font-size: 12px;
    text-align: center !important;
    width: 375px;
    height: 30px;
    justify-content: center;
  }

  button:first-of-type {
    margin-top: 325px;
  }

  /* BOTONES VOLVER */
  #botonVolver,
  #botonVolver2,
  #botonVolver3 {
    font-size: 8px;
    width: 70px;
    height: 20px;
  }
}